
body {
	background-color: #A9D2BC;
	text-align: center;
	margin: 50px;
}

.image {
	width: 100%;
    align-content: center;
    box-sizing: border-box;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    -webkit-justify-content: space-around;
    text-align: center;
}

img {
	width: 100px;
}

h1 {
	font-size: 4.2em;
	line-height: 110%;
	color: #fff;
	font-family: 'Viga', sans-serif;
}
h2,
.label,
.right,
.wrong {
	font-size: 2.6em;
	line-height: 110%;
	color: #fff;
	font-family: 'Viga', sans-serif;
}

h3,
.description,
.answer,
.feedback {
	font-size: 1.3em;
	color: #4A7389;
	font-family: 'Karla', sans-serif;
}
.grade {
	font-size: 2.6em;
	line-height: 110%;
	color: #FFF5E8;
	font-family: 'Viga', sans-serif;
}

.feedback {
	width: 60%;
	margin: auto;
}

.label {
	margin-top: 10px;
	font-size: 1.3em;
	color: #4A7389;
	font-family: 'Karla', sans-serif;
}

#start {
	font-size: 1.3em;
	margin: 20px;
	padding: 20px;
	color: #fff;
	border-radius: 10px;
	border: none;
	background-color: #FFBDAA;
	text-transform: uppercase;
	font-family: 'Viga', sans-serif;
	cursor: pointer;
}

#start:hover, 
#submit:hover,
#next:hover,
#reset:hover {
	background-color: #FFD8CC;
}

.topheader {
   width: 100%;
   align-content: center;
   box-sizing: border-box;
   flex-wrap: wrap;
   flex-direction: row;
   justify-content: space-between;
   align-content: center;
   align-items: center;
   -webkit-justify-content: space-around;
   text-align: center;
}
.questionnum {
	width: 20%;
	display: inline-block;
	margin: 10px;
}
.question {
	width: 70%;
	display: inline-block;
	margin: 10px;
}


#option1,
#option2,
#option3 {
	font-size: 1.3em;
	margin: 20px;
	padding: 20px;
	color: #fff;
	border: none;
	background-color: #A2BAC7;
	font-family: 'Karla', sans-serif;
	cursor: pointer;
	width: 60%;
}

#option1:hover,
#option2:hover,
#option3:hover {
	background-color: #FFBDAA;
}



#submit,
#reset,
#next,
#last
 {
	font-size: 1.3em;
	margin: 20px;
	padding: 20px;
	color: #fff;
	border-radius: 10px;
	border: none;
	background-color: #FFBDAA;
	text-transform: uppercase;
	font-family: 'Viga', sans-serif;
	cursor: pointer;
}

.front {
	visibility: visible;
}

.quiz,
.feedback,
.end,
.results,
.done
 {
	display: none;
}

